
* {
    background-color: rgb(235, 233, 233);
    font-family: 'Source Sans Pro', sans-serif;
  }
  title{
   color: rgb(122, 8, 27)
  }
  body h1 {
    font-size: 2.5vw;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
    color: rgb(122, 8, 27);
    padding-top: 20px;
  }
  main{
    padding: 5px 10px;
    
  }
  
  h2 {
    font-size: 2.0vw;
    color: #7a081b;
    font-size: larger;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: #7a081b 1px coral;
  }
  body{
    padding: 1px 10 px;
  }
  
  ul {
    list-style-type: square;
    list-style-position: inside;
  }
  li{
    font-style: italic;
    font-size: 1.9vw;
  }
  head{
    border-color: pink;
    border-width: 10px;
  }

  #body{
    padding-left: 50px;
    width: auto;
  }
  #div1{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
  }
#fish1{

  float:left;
  min-height: 100%;
  display: inline-block;
}
#section{
  float: right;
  flex-basis: auto;
}
#div1 div{
  justify-content: center;
  
}
#div1 div p{
  justify-content: center;
  text-align: center;
  display: block;
  
}
#footer{
  text-align: center;
}
#div{
  padding-left: 20px;
  padding-right: 10px;
}
#fish 3{
  float: left;
}
#div1 div p{
  float:right;
}

#div1 div a{
  float:left;
  display: inline-block;
}

#div1 img{
  float:right;
  align-content: center;

  #div1 h3{
    float:right;
    align-content: center;
    text-align: center;
  }